<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UncaughtExceptionHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD88298F1CEB2244003FC2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8829A81CEB2244003FC2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8829B31CEB2244003FC2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
